.action-section {
	padding: 30px 0;
	overflow: visible;

	.container {
		position: relative;

		@media all and (max-width: $mobile) {
			padding: 0 30px;
		}
	}

	h1, h2, h3, h4, h5, h6, p {
		font-weight: 300;
	}

	a {
		font-weight: 600;
	}

	img {
    position: relative;
    top: 4px;
    margin: 0px 7px;
	}

	.section-title {
		position: absolute;
    top: 50%;
    left: 0;
    text-align: left;
    width: 40%;
    padding: 0px 30px;
    transform: translateY(-50%);

    .icon {
    	position: absolute;
	    top: 50%;
	    left: 30px;
	    transform: translateY(-50%);
	    margin: 0;
    }

    @media all and (max-width: $mobile) {
	    position: relative;
	    top: 0;
	    transform: none;
	    width: 100%;
	    padding: 0;
    }

    h3 {
    	font-weight: 700;
    }
	}

	.has-icon {
		.section-title {
    	padding-left: 90px;

    	@media all and (max-width: $mobile) {
    		padding-left: 60px;

    		.icon {
			    left: 0;
				}
    	}
		}
  }

	.wpcf7-form {
		position: relative;

		br { display: none; }

		.wpcf7-form-control-wrap {
	    float: left;
	    width: 25%;
	    padding-right: 10px;
	    overflow: hidden;

	    @media all and (max-width: $mobile) {
	    	float: none;
	    	width: 100% !important;
	    	padding-right: 0;
	    }

	    & > input {
	    	width: 100%;
	    }

	    .wpcf7-form-control {
				&.wpcf7-not-valid {
			    border-left: 4px solid $color-red;
				}
			}
		}

		input[type=submit] {
			width: 25%;
	    background: #a2c03b;
	    color: #fff;
	    font-weight: 600;
	    outline: none;
	    cursor: pointer;
	    @include transition;

	    &:hover,
	    &:focus {
	    	background: $color-black;
	    }
		}

		span.wpcf7-not-valid-tip {
	    font-size: 12px;
	    margin: 2px 0;
	    font-weight: 300;
	    color: $color-white;
		}

		div.wpcf7-validation-errors,
		div.wpcf7-mail-sent-ok {
	    display: block;
	    position: absolute;
	    top: -90px;
	    max-width: 300px;
	    left: 0;
	    background: $color-red;
	    border: none;
	    padding: 15px 20px;
	    margin: 0;
	    font-size: 14px;
	    line-height: 20px;
	    font-weight: 700;
	    color: $color-white;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

	    &:after {
	    	content: '';
	    	position: absolute;
	    	bottom: -10px;
	    	left: 20px;
	    	width: 0; 
			  height: 0; 
			  border-left: 10px solid transparent;
			  border-right: 10px solid transparent;
			  border-top: 10px solid $color-red;
	    }
		}

		div.wpcf7-mail-sent-ok {
			background: $color-green;

			&:after {
				border-top-color: $color-green;
			}
		}

		.ajax-loader {
	    position: absolute;
	    top: 50%;
	    right: -25px;
	    transform: translateY(-50%);
		}
	}

	.content {
		padding-left: 40%;

		@media all and (max-width: $mobile) {
			padding-left: 0;
			text-align: center;
		}
	}

	&.bg-teal {
		a:not(.button) {
			color: #fff;
		}

		.signup-template {
			input[type=submit] {
				background: $color-black;
				cursor: pointer;
				@include transition;

				&:hover,
				&:focus {
					background: $color-green;
				}
			}
		}
	}

	.signup-template {
		padding: 30px 0;
		form {
	    display: grid;
	    grid-template-columns: 1fr 1fr 1fr 1fr;
	    grid-gap: 10px;

	    input {
	    	margin: 0;
	    	width: 100%;
	    	box-sizing: border-box;
	    }

	    @media all and (max-width: 1120px) {
	    	grid-template-columns: 1fr 1fr;
	    }

	    @media all and (max-width: $smallTablet) {
				grid-template-columns: 1fr;
	    }
	  }

	  @media all and (max-width: $smallTablet) {
	  	padding: 0;
	  	.section-title {
	  		margin-bottom: 20px;
	  	}
	  }
	}

	.stories-template,
	.services-template {
    display: grid;
    grid-template-columns: 1fr 2fr 280px;
    grid-gap: 30px;
		overflow: hidden;

		.section-title,
		.content {
			padding: 0;
		}

		.section-title {
			position: relative;
			top: 0;
			width: 100%;
			transform: none;

			h2 {
				font-weight: 800;
				margin: 0;
			}
		}

		.content {
			width: 100%;

			h3 {
				margin: 0;
			}
		}

		.button {
			width: auto;
			max-height: 54px;
			text-align: center;
			color: $color-black;
			white-space: nowrap;
		}

		@media all and (max-width: $smallTablet) {
			grid-template-columns: 1fr;

			.section-title {
				text-align: center;
			}
		}

	}

	.stories-template {
		.button:hover {
			color: $color-white;
		}
	}

	.services-template {
		.section-title {
			h2 {
				color: $color-teal;
			}
		}
		.content {
			h3 {
				color: $color-teal;
			}
		}
		.button {
			background: $color-teal;
			color: $color-white;

			&:hover {
				background: $color-black;
			}
		}
	}
}