.business-insights-section,
.client-stories-section {
	.container {
		overflow: hidden;
	}
}

.blog {
	.tiles {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    margin-bottom: 30px;

		@media all and (max-width: $mobile) {
			grid-gap: 15px;
			grid-template-columns: repeat( 1, minmax(150px, 1fr) );
		}
	}
}

.post-type-archive-event {
	.tiles {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    width: 100%;
    float: none;
    padding: 0;

		@media all and (max-width: $mobile) {
			grid-gap: 15px;
			grid-template-columns: repeat( 1, minmax(150px, 1fr) );
		}
	}
}

.post-featured-image {
	width: 100%;
	height: 400px;
  max-height: 50vw;
	background-size: cover;
	background-position: center;
}

.post-featured-video {
	position: relative;
  padding-bottom: 56%;
  background: $color-darkgrey;

  iframe {
  	opacity: 0;
  	pointer-events: none;

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
   	@include transition;
  }
	
	.cover {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-size: cover;
	  background-position: center;
	  @include transition;

	  &:before {
	  	content: '';
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	width: 100%;
	  	height: 100%;
	  	background: #000;
	  	opacity: 0.5;
	  	z-index: 9;
	  }

	  .play-button {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%,-50%);
	  	z-index: 10;
	  	transition: all 0.3s;

	  	svg {
		    width: 110px;
		    height: auto;

	  		path {
	  			@include transition;
		  		fill: rgba(255,2555,255,0.5);
		  	}
		  }

		  &:hover {
		  	transform: translate(-50%,-50%) scale(1.15);

		  	svg {
		  		path {
		  			fill: #fff;
		  		}
		  	}
		  }
	  }
	}

	&.played {
		iframe {
			opacity: 1;
			pointer-events: auto;
		}
		.cover {
			opacity: 0;
			pointer-events: none;
		}
	}
}

.bi-post-meta {
	position: relative;
	overflow: hidden;

	.bi-post-share {
		position: absolute;
		bottom: 20px;
		right: 0px;

		& > a {
			display: inline-block;
			margin-right: 5px;

			&:last-child {
				margin-right: 0;
			}

			svg {
				width: 30px;
				height: 30px;
			}

			&.linkedin {
				svg {
					path {
						fill: #4875B4;
					}
				}
			}

			&.twitter {
				svg {
					path {
						fill: #33CCFF;
					}
				}
			}

			&.email {
				width: 30px;
				height: 30px;
				background: #ccc;

				svg {
			    padding: 5px;
					path {
						fill: #000;
					}
				}
			}
		}
	}
}