.campaign-section {
	background: $color-green;
	color: $color-white;
  border-top: 2px solid $color-white;
  padding: 60px 0;
  overflow: hidden;
  width: 100%;

  h4 {
		font-weight: 400;
	}

  .sidebar {

  	h3 {
  		margin-bottom: 0;
  	}

  	h4 {
  		margin-top: 10px;
  	}

  	img {
  		box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
  	}
  }

  .with_frm_style .frm_submit {
    text-align: left !important;
	}
}