.carousel-section {
	position: relative;
	height: 75vh;
	max-height: 550px;
	padding: 0;
	overflow: hidden;
	z-index: 5;
  clear: both;

	& > .container {
		position: relative;
		top: -100%;
		height: 100%;
	}

	.content-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
    min-width: 550px;
    max-width: 400px;
		height: 100%;
		background: rgba(61, 128, 153, 0.7);
		z-index: 10;

		.notice {
	    position: absolute;
	    top: 0;
	    left: 0;
	    background: #333;
	    width: 100%;
	    padding: 10px 30px;
	    color: #fff;
	    font-weight: 400;
	    line-height: 1.2em;

	    span {
				font-size: 42px;
		    float: left;
		    margin-right: 10px;
		    display: inline-block;
		    font-weight: 600;
		    height: 40px;
		    line-height: 35px;
	    }
		}

		@media all and (max-width: $container) {
      left: 50px;
      min-width: 80vw;
    }

    @media all and (max-width: $mobile) {
      left: 0px;
    }

		h1, h2, h3, h4, h5, h6, p {
			color: $color-white;
		}

		p {
			font-size: 18px;
			max-width: 90%;
	    line-height: 24px;

			@media all and (max-width: $mobile) {
		    font-size: 16px;
		    line-height: 22px;
		    max-width: 100%;
		  }
		}

		& > div {
			padding: 30px;
			padding-top: 82px;
		}
	}

	.carousel {
		height: 100%;
		.owl-stage,
		.owl-stage-outer,
		.owl-item,
		.container {
			height: 100%;
		}

		&[data-city] {
			display: none;
		}

		.owl-nav,
		.owl-dots {
			display: none;
		}

		.owl-dots {
			// display: block;
	    position: absolute;
	    bottom: 20px;
	    left: 50%;
	    margin-left: 30px;

	    .owl-dot {
				display: inline-block;
		    width: 10px;
		    height: 10px;
		    margin: 5px;
		    border-radius: 50%;
		    background: rgba(255,255,255,0.3);
		    outline: none;

		    &:hover {
		    	background: rgba(255,255,255,0.6);
		    }

		    &.active {
		    	background: $color-white;
		    }
	    }
		}

		.owl-nav {
	    display: block;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 100%;
	    max-width: 1280px;
	    transform: translate(-50%, -50%);
	    pointer-events: none;

			button {
				display: block;
				float: left;
				width: 50px;
				height: 50px;
				z-index: 10;
				pointer-events: auto;

				svg {
					path {
						fill: $color-white;
					}
				}

				&.owl-next {
					float: right;
				}
			}
		}

		.carousel-item {
			height: 100%;
			background-size: cover;
			background-position: center;
			overflow: hidden;

			.container {
				position: relative;
			}
		}
	}

	@media all and (max-width: $mobile) {
    height: auto;
    max-height: 100%;

		.carousel,
		.carousel .owl-stage, 
		.carousel .owl-stage-outer,
		.carousel .owl-item, 
		.carousel .container {
	    height: 200px;
		}

		& > .container {
			top: 0;
			padding: 0;
			height: auto;
		}

		.carousel {
			.owl-nav {
				width: 100%;
			}
			.owl-dots {
		    transform: translateX(-50%);
		    margin: 0;
			}
		}

		.content-overlay {
			position: relative;
			width: 100%;
			min-width: 0px;
			max-width: 100%;
			height: auto;
			background: $color-teal;
			padding-bottom: 10px;

			.notice {
				position: relative;
				padding-right: 10px;

				br {
					display: none;
				}
			}

			& > div {
		    padding: 5px 30px;
			}

			.v-align {
				position: relative;
				top: 0;
				transform: none;
			}
		}
  }
}