.contact-details {
	margin-bottom: 50px;

	.contact-detail {
		position: relative;
		overflow: hidden;
		margin-bottom: 20px;

		.widgettitle {
			display: none;
		}

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 32px;
			height: auto;

			path {
				fill: $color-teal;
			}
		}

		.content {
			padding-left: 50px;

			p {
				font-size: 17px;
		    line-height: 22px;
				margin: 5px 0;

				&:first-child { margin-top: 0; }
				&:last-child  { margin-bottom: 0; }
			}
		}
	}
}