
.credentials-section {

  & > .container {
    text-align: center;

    & > .button {
      margin: 0px 0px 40px 0;
    }

    & > .content {
      text-align: center;
      padding: 0px 140px;
      margin-bottom: 30px;

      p {
        font-size: 20px;
        line-height: 24px;
      }

      * {
        font-weight: 400;
      }

      *:first-child {
        margin-top: 0;
      }

      @media all and (max-width: $mobile) {
        padding: 0 15px;
        padding-top: 10px;

        p {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  .credential-group {
    background: $color-lightgrey;
    margin-bottom: 50px;

    .credential-group-title {
      background-color: $color-teal;
      color: white;
      padding: 20px;
      text-align: center;
      margin-bottom: 0;
    }

    .credential-group-content {
      overflow: auto;

      .credential-group-image {
        float: left;
        width: 50%;
        min-height: 370px;
        background-size: cover;
        background-position: center;
      }

      .credential-group-list {
        float: left;
        width: 50%;
        padding: 60px 20px 20px 45px;

        ul {
          margin: 0;

          li {
            padding: 0;
            font-size: 20px;
            line-height: 25px;
            color: black;
            text-align: left;
            margin-bottom: 10px;
            padding-left: 35px;
            position: relative;

            .icon {
              position: absolute;
              display: block;
              left: 0;
              top: 5px;
            }

            .icon svg path {
              fill: $color-teal;
            }
          }
        }
      }

      @media all and (max-width: $smallTablet) {
        .credential-group-image,
        .credential-group-list {
          width: 100%;
          float: none;
        }

        .credential-group-list {
          padding: 35px;
        }
      }
    }
  }
}
