.custom-section {
	padding: 30px 0;

	& > .container {
		display: grid;
	  grid-template-columns: 1fr 2fr 1fr;
		grid-gap: 30px;

		@media all and (max-width: $tablet) {
	    grid-template-columns: 100px 1fr 260px;
		}

		@media all and (max-width: $mobile) {
			grid-template-columns: 1fr;
	    grid-row-gap: 20px;

			.image {
				min-height: 150px;
			}
		}
	}

	&.layout-2col {
		& > .container {
			grid-template-columns: 1fr 1fr;
		}
	}

	&.layout-3col {
		& > .container {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.image {
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
	}

	.col,
	.content {
		& > p:first-child,
		& > h1:first-child,
		& > h2:first-child,
		& > h3:first-child,
		& > h4:first-child,
		& > h5:first-child,
		& > h6:first-child {
			margin-top: 0;
		}

		& > p:last-child,
		& > h1:last-child,
		& > h2:last-child,
		& > h3:last-child,
		& > h4:last-child,
		& > h5:last-child,
		& > h6:last-child {
			margin-bottom: 0;
		}

		// p, h1, h2, h3, h4, h5 {
		// 	margin: 8px 0;
		// }

		.button {
			margin: 0;
		}
	}

	.link {
		.button {
	    width: 100%;
	    text-align: center;
	    background: $color-white;
	    color: $color-darkgrey;
	    white-space: nowrap;

	    &:hover {
	    	background: $color-green;
	    	color: $color-white;
	    }
		}
	}
}