.event-post-info p {
  font-size: 18px;
}

.featured-image,
.event-location {
	width: 49%;
  height: 300px;
  margin-bottom: 15px;
}

.featured-image {
  float: left;
  background-size: cover;
  background-position: center;
}

.event-location {
  float: right;
  .acf-map {
  	height: 100%;
  }
}

.event-section {
  padding: 0;

  .event-header {
    position: relative;
    overflow: hidden;
    padding: 50px 0;
    background-size: cover;
    background-position: center;

    h1, h2, h3, p {
      color: #fff;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $color-teal;
      opacity: 0.7;
      z-index: 1;
    }

    .content {
      position: relative;
      z-index: 2;
      max-width: 80%;
    }
  }

  .main-content {
    padding: 50px 50px 50px 0;
  }

  .sidebar {
    padding: 30px 0;

    .event-location {
      width: 100%;
    }
  }

}

.single-event {
  .single-service-section {
    background: $color-lightgrey;
    padding: 0 0 30px 0;
    overflow: hidden;

    .tiles .tile {
      background: $color-white;
    }
  }
}