.exit-intent-forms {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 500;
  
  .exit-intent-form {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 40px);
    max-width: 750px;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.2);
    z-index: 501;

    background-position: -50px 46px;

    &.alternative {
      background-position: -34px 73px;
      background-size: 430px;

      .content {
        width: 50%;
        text-align: center;
        &.right {
          text-align: center;
          padding: 0px 20px;

          input {
            width: 100%;
          }
        }
      }
    }

    .top-bar {
      background: $color-green;
      padding: 10px;

      a {
        display: block;
        width: 30px;
        height: 30px;
        margin: 0;
        float: right;
        padding: 0;

        svg {
          position: relative;
          top: 0;
          height: 30px;
          transform: none;
          transition: transform 0.3s ease;
          transform-origin: center;

          path {
            fill: $color-black;
          }
        }

        &:hover {
          svg {
            transform: rotate(225deg);
          }
        }
      }
    }

    .content {
      width: 60%;
      float: left;
      padding: 0 30px;

      &.full {
        float: none;
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
      }

      &.right {
        float: right;
      }

      .ajax-loader {
        display: none;
      }

      h2 {
        font-size: 40px;
        line-height: 40px;
        color: $color-black;
        margin-bottom: 10px;
      }

      p {
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        margin-top: 0;
        color: $color-black;

        &:last-child {
          font-size: 13px;
        }
      }

      input {
        border: 1px solid #a5a5a5;
        width: 90%;
        margin-bottom: 5px;
        text-align: center;
        font-size: 15px;

        &.error {
          border: 1px solid #d71313;
          background: #ffefef;
        }

        &[type=submit] {
          background: $color-teal;
          color: $color-white;
          border: none;
          font-size: 18px;
          font-weight: 600;
          margin: 0px 0px 5px;
          @include transition;
          cursor: pointer;

          &:hover,
          &:focus {
            background: $color-black;
          }
        }
      }
    }

    .tab {
      position: absolute;
      bottom: 45px;
      right: 0;
      background: $color-green;
      padding: 5px 20px 5px 30px;

      p {
        margin: 0;
        font-weight: 600;
        font-size: 14px;
        text-align: right;
        line-height: 18px;
        color: $color-white;
      }
    }

    .complete {
      display: none;
    }

    &.completed {
      .content {
        display: none;
      }
      .complete {
        display: block;
      }
    }

    @media all and (max-width: $smallTablet) {
      background-image: none !important;

      .content {
        float: none !important;
        width: 100% !important;
        padding: 0 30px !important;
        text-align: center !important;

        input {
          width: 100% !important;
        }
      }

      .tab {
        display: none;
      }
    }
  }

}