.logo-carousel-section {
  position: relative;

  h2 {
    margin-bottom: 40px;
  }

  &.remove-bottom-padding {
    padding-bottom: 0;
  }

  & > .container {
    text-align: center;

    & > .content {
      border-bottom: 1px solid black;
      text-align: center;
      padding: 0px 140px;
      margin-bottom: 30px;

      p {
        font-size: 20px;
        line-height: 24px;
      }

      * {
        font-weight: 400;
      }

      *:first-child {
        margin-top: 0;
      }

      @media all and (max-width: $mobile) {
        padding: 0 15px;
        padding-top: 10px;

        p {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  .owl-stage {
    display: flex;
    align-items: center;

    img {
      max-height: 100%;
    }
  }

	.carousel {
    padding: 0 50px;

    .owl-nav {
	    display: block;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    width: 100%;
	    transform: translate(-50%, -50%);
	    pointer-events: none;

			button {
				display: block;
				float: left;
				z-index: 10;
				pointer-events: auto;

				&.owl-next {
					float: right;
				}
			}
		}
  }
	@media all and (max-width: $mobile) {

  }
}
