.section {
	padding: 50px 0;
	clear: both;
	overflow: hidden;

	&.single-service-section {
		overflow: visible;
	}

	@media all and (max-width: $mobile) {
		padding: 30px 0px;
	}

	.section-title {
		text-align: center;

		.icon {
			width: 44px;
			margin: auto;

			svg {
				width: 100%;
				height: auto;

				path {
					fill: $color-green;
				}
			}

			&.icon-large {
				width: 60px;

				svg {
					path {
						fill: $color-black;
					}
				}
			}
		}

		h3 {
			margin: 0;
		}
	}

	&.bg-green,
	&.bg-teal,
	&.bg-black {
		.section-title {
			.icon {
				svg {
					path {
						fill: $color-white;
					}
				}
			}
		}
	}
}

.header-section {
	text-align: center;
	background: $color-darkgrey;
	padding: 30px 0;
  clear: both;

	h1, h2, h3, h4 {
		color: $color-white;
    max-width: 80%;
    margin: 0 auto;
	}
}


.content-section ul, .content-section li {
  list-style-type: disc;
  list-style-position: outside;
}

.content-section ul {
  padding-left: 20px;
}

.content-section li {
  margin-bottom: 10px;
}