.tile.service {
	cursor: pointer;

	&.featured {
		background: $color-teal;

		* {
			fill: $color-white !important;
			color: $color-white !important;
		}

		&:hover {
			background: $color-black !important;
			border-color: $color-black !important;
		}
	}

	.icon {
		svg {
			width: 44px;
			height: auto;

			path {
				fill: $color-teal;
				@include transition;
			}
		}
	}

	h3, p {
		@include transition;
	}

	.content {
		text-align: center;
		a {
			left: 50%;
			transform: translateX(-50%);
			@include transition;
		}
	}

	&:hover {
		background: $color-teal !important;
		border-color: $color-teal !important;

		.content a {
			color: $color-white !important;
		}

		.icon svg path {
			fill: #fff !important;
		}

		h3, p {
			fill: $color-white !important;
			color: $color-white !important;
		}
	}
}

.home {
	.service {
		&.featured {
			background: $color-lightgrey;

			* {
				fill: inherit !important;
				color: inherit !important;
			}
		}
	}
}

.single-service {
	.main-header {
		.main-nav {
			li {
				&.menu-item-164 {
					@include current_menu;
				}
			}
		}
	}
}

.single-post {
	.main-header {
		.main-nav {
			li {
				&.menu-item-15 {
					@include current_menu;
				}
			}
		}
	}
}