
// Video
.team-video-container {
	position: relative;
	height: 190px;
	background: $color-lightgrey;

	&.video-playing {
		.video-container {
			opacity: 1;
			pointer-events: auto;
		}
		.cover {
			opacity: 0;
			pointer-events: none;
		}
	}

	&.video-ended {
		.popup {
			opacity: 1;
			pointer-events: auto;
	    border-left-width: 45px;

			.content {
				a {
					opacity: 1;
					left: 0;
				}
			}
		}
	}

	.video-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		background: $color-black;
		@include transition;

		video {
			width: 100%;
			height: 100%;
		}
	}

	.cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 1;
		@include transition;
		z-index: 1;

		.team-photo {
			height: 100%;
			background-size: cover;
			background-position: center;
		}

		.play-button {
	    position: absolute;
	    top: 50%;
	    left: 0px;
	    z-index: 1;
	    width: 50px;
	    height: 50px;
	    background: $color-green;
	    transform: translateY(-50%);
	    @include transition;
	    cursor: pointer;

	   	&:after {
		    content: '';
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    width: 0;
		    height: 0;
		    border-top: 10px solid transparent;
		    border-bottom: 10px solid transparent;
		    border-left: 14px solid #000;
		    transform: translate(-50%,-50%);
			}
		}

		&:hover {
			.play-button {
				left: 0;
			}
		}
	}

	.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 0px solid $color-teal;
    background: $color-green;
    box-sizing: border-box;
    pointer-events: none;
    opacity: 0;
    z-index: 3;
    @include transition;
    transition-delay: 0.2s;

   	.content {
	    position: absolute;
	    top: 50%;
	    left: -20px;
	    padding: 0;
	    transform: translateY(-50%);
	    overflow: visible;

	    a {
		    display: block;
		    color: $color-black;
		    font-size: 16px;
		    position: relative;
		    left: 50px;
		    bottom: auto !important;
		    opacity: 0;
		    margin: 30px 0px;
		    padding-left: 50px;
		    @include transition;
		    &:nth-child(1) { transition-delay: 0.4s; }
		    &:nth-child(2) { transition-delay: 0.8s; }
		    &:nth-child(3) { transition-delay: 1.2s; }

		    &:first-child {
		    	margin-top: 0px;
		    }

		    &:before {
				  content: '';
				  position: absolute;
				  display: block;
				  left: 0;
				  top: 50%;
				  width: 40px;
				  height: 40px;
				  background: #000 url(../freemanclarke/images/FC-email-icon.png) no-repeat;
				  background-position: center;
				  background-size: 100%;
				  border-radius: 50%;
				  transform: translateY(-50%);
				}

				&.email:before { background-image: url(../freemanclarke/images/FC-email-icon.png) }
				&.phone:before { background-image: url(../freemanclarke/images/FC-phone-icon.png) }
				&.linkedin:before { background-image: url(../freemanclarke/images/FC-linkedin-icon.png) }
			}
		}

    .repeat-video {
	    position: absolute;
	    bottom: 5px;
	    right: 10px;
	    color: rgb(255, 255, 255);
	    z-index: 50;
		}
	}
}

// Team Info
.team-member-info {
	font-size: 14px;
	line-height: 20px;
	margin: 15px 0 0 0;

	.full {
		display: none;
	}
}

.title {
	margin: 0;
}

// Photo
.team-members {
	.team-member {
		position: relative;
		padding-bottom: 50px;

		.team-photo {
			height: 190px;
			background-size: cover;
			background-position: center;
		}

		.content {
			a {
		    bottom: 70px;
			}
		}

		.social-icons {
			position: absolute;
			left: 20px;
			bottom: 20px;

			a {
				display: inline-block;
				margin-top: 0 !important;
				margin-right: 5px;
				width: 28px;
		    height: 28px;


				svg {
					width:28px;
					height:28px;
				}

				&.linkedin {
					path {
						fill: #4875B4;
					}
				}

				&.email {
					background: #ccc;

					svg {
						padding: 5px;
					}
				}
			}
		}
	}
}

.bi-post-author {
	overflow: hidden;
  margin-bottom: 20px;

	.team-photo {
		float: left;
    width: 75px;
    height: 75px;
    background-size: cover;
    margin-right: 15px;
	}

	.author-info {
		p {
			margin: 0;
			display: inline-block;
	    max-width: 100px;
		}
	}

	.linkedin {
		svg {
	    width: 24px;
	    margin-right: 5px;
	    position: relative;
	    top: 4px;
			path {
				fill: $color-teal;
			}
		}
	}
}