.tiles-section {
	overflow: visible;
	
	& + .tiles-section {
		padding-top: 0;

		.section-title {
	    padding-top: 50px;
		}
	}

	& > .container {
		text-align: center;
		
		& > .button {
      margin: 0px 0px 40px 0;
		}

		& > .content {
			text-align: center;
			padding: 0px 100px;
	    margin-bottom: 30px;

			p {
				font-size: 20px;
				line-height: 24px;
			}

			* {
				font-weight: 400;
			}

			*:first-child {
				margin-top: 0;
			}

			// p:last-child {
			// 	margin-bottom: 0;
			// }

			@media all and (max-width: $mobile) {
				padding: 0 30px;
				padding-top: 10px;

				p {
					font-size: 16px;
					line-height: 22px;
				}
			}
		}
	}

	&[data-tiles-per-row="2"] {
		.tiles { 
			grid-template-columns: repeat( 2, minmax(150px, 1fr) ); 
			@media all and (max-width: $smallTablet) {
				grid-template-columns: repeat( 1, minmax(150px, 1fr) ); 
			}
		}
	}

	&[data-tiles-per-row="3"] {
		.tiles { 
			grid-template-columns: repeat( 3, minmax(150px, 1fr) ); 

			@media all and (max-width: $smallTablet) {
				grid-template-columns: repeat( 1, minmax(150px, 1fr) ); 
			}
		}
	}

	&[data-tiles-per-row="4"] {
		.tiles { 
			grid-template-columns: repeat( 4, minmax(150px, 1fr) );
			.tile {
				.team-video-container,
				.team-photo {
					height: 245px;
				}
			}

			@media all and (max-width: $tablet) {
				grid-template-columns: repeat( 2, minmax(150px, 1fr) ); 
			}

			@media all and (max-width: $mobile) {
				grid-template-columns: repeat( 1, minmax(150px, 1fr) ); 
			}
		}
	}

	&[data-tiles-per-row="5"] {
		.tiles { 
			grid-template-columns: repeat( 5, minmax(150px, 1fr) ); 

			@media all and (max-width: $tablet) {
				grid-template-columns: repeat( 4, minmax(150px, 1fr) ); 
			}

			@media all and (max-width: $smallTablet) {
				grid-template-columns: repeat( 2, minmax(150px, 1fr) ); 
			}
		}
	}
}

.tiles {
	display: grid;
	grid-template-columns: repeat( 4, minmax(150px, 1fr) );
	grid-gap: 30px;

	.service-tile-text {
    grid-column: 1/5;
    padding: 0 15%;

    @media all and (max-width: $tablet) { grid-column: 1/3; }
    @media all and (max-width: $mobile) { grid-column: 1; }
	}

	.pagination {
    grid-column: 1/-1;
    text-align: center;

    a, span {
	    display: inline-block;
	    padding: 10px 20px;
	    margin: 5px;
	    background: $color-lightgrey;

	    &.current {
	    	background: $color-green;
	    	color: $color-white;
	    }
		}
	}

	.tile {
		position: relative;
		display: block;
		border: 1px solid $color-lightgrey;
		background: $color-lightgrey;
		transform: scale(1);
		box-shadow: 0px 3px 15px rgba(0,0,0,0);
		@include transition;

		&.expired {
			opacity: 0.5;
	    transform: none;
	    box-shadow: none;
	    pointer-events: none;

	    .content-type {
	    	display: block !important;
	    }
		}

		&:hover {
			transform: scale(1.05);
			box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
		}

		@media all and (max-width: $mobile) {
			transform: none !important;
			box-shadow: none !important;
		}

		// Image
		.image, .team-photo {
			display: block;
	    height: 190px;
	    background-size: cover;
	    background-position: center;
		}

		// Content type
		.content-type {
			display: none;
	    position: absolute;
	    top: 0;
	    right: 0;
	    background: #3d8099;
	    z-index: 10;
	    padding: 5px 15px;
	    font-size: 12px;
	    text-transform: uppercase;
	    color: #fff;
	    pointer-events: none;
	    font-weight: 300;
		}

		// Content
		.content {
			padding: 20px;
			padding-bottom: 60px;
			text-align: left;
			overflow: hidden;

			h1, h2, h3, h4, h5, h6, p {
				color: $color-black;
			}

			a {
				position: absolute;
				bottom: 20px;
				left: 20px;
				display: block;
				font-weight: 600;
				color: $color-teal;
			}

			p {
		    font-size: inherit;
			  line-height: inherit;
				margin: 5px 0;
			}

			& > *:first-child { margin-top: 0; }
			& > *:last-child { margin-bottom: 0; }

			&.full {
				padding-bottom: 20px;
				a {
					position: relative;
					bottom: 0;
					left: 0;
					margin-top: 15px;
					display: inline-block;
			    font-size: 13px;
				}
			}
		}

		&.video-tile {
			.image {
				position: relative;
				
				&:before {
			  	content: '';
			  	position: absolute;
			  	top: 0;
			  	left: 0;
			  	width: 100%;
			  	height: 100%;
			  	background: #000;
			  	opacity: 0.5;
			  	z-index: 9;
			  }

			  .play-button {
			  	position: absolute;
			  	top: 50%;
			  	left: 50%;
			  	transform: translate(-50%,-50%);
			  	z-index: 10;

			  	svg {
				    width: 88px;
				    height: auto;

			  		path {
							fill: rgba(255,255,255,0.5);
				  	}
				  }
			  }
			}
		}
	}

	@media all and (max-width: $mobile) {
		grid-gap: 15px;
		grid-template-columns: repeat( 1, minmax(150px, 1fr) );
	}
}

// .website-2 {
// 	.tiles-section {
// 		&[data-tiles-per-row="5"] {
// 			.tiles {
// 				grid-template-columns: repeat(4, minmax(150px, 1fr));

// 				.tile {
// 					&:first-child {
// 						grid-column-start: 2;
// 					}
// 				}

// 				@media all and (max-width: $tablet) {
// 					grid-template-columns: repeat( 2, minmax(150px, 1fr) ); 

// 					.tile {
// 						&:first-child {
// 							grid-column-start: 1;
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.website-4 {
	.tiles-section {
		&[data-tiles-per-row="5"] {
			.tiles {
				grid-template-columns: repeat( 3, minmax(150px, 1fr) ); 

				.tile {
					.team-photo {
				    height: 300px;
					}
				}
				
				@media all and (max-width: $smallTablet) {
					grid-template-columns: repeat( 2, minmax(150px, 1fr) ); 
				}
			}
		}
	}
}

.search {
	.tiles {
		.tile {
			.content-type {
				display: block;
			}
		}
	}
}

.main-content > .content-section:first-child {
  padding-bottom: 20px;
}

.main-content > .content-section + .tiles-section {
	padding-top: 0px;
}