.toolkit-section {
	
	.tiles {
		grid-template-columns: repeat( 3, minmax(150px, 1fr) );
		margin-top: 30px;
		text-align: left;

		@media all and (max-width: $mobile) {
			grid-template-columns: repeat( 1, minmax(150px, 1fr) );
		}

		.tile {
			background: $color-teal;
			padding: 20px;
	    padding-bottom: 90px;

	    &.dark-tile {
	    	background: $color-black;

	    	h2 {
	    		margin-top: 0;
	    		color: $color-white;
	    	}

	    	p {
	    		color: $color-white;
	    	}

	    	.button {
	    		position: relative;
	    		bottom: auto;
	    		left: auto;
	    		transform: none;
	    		margin-bottom: 20px;
	    	}

	    	img {
	    		clear: both;
	    		display: inline-block;
			    width: 45%;
			    height: auto;
			    margin: 0px 10px 5px 0;
	    	}
	    }

			header {
		    position: relative;
		    overflow: hidden;
			}

			.toolkit-image {
				float: left;
				width: 50%;
				padding-right: 20px;
				padding-bottom: 10px;

				img {
					display: block;
				}
			}

			.toolkit-title {
		    float: left;
		    width: 50%;
				font-size: 18px;
    		line-height: 24px;
		    font-weight: 700;
		    color: $color-white;
		    word-break: break-word;
		    margin-bottom: 70px;
			}

			.toolkit-desc {
				clear: both;
				color: $color-white;
			}

			.button {
				position: absolute;
		    bottom: 20px;
		    left: 50%;
		    margin: 0;
		    font-size: 14px;
		    padding: 12px 30px;
		    background: transparent;
		    border: 2px solid $color-white;
		    text-align: center;
		    white-space: nowrap;
		    transform: translateX(-50%);

		    &:hover {
		    	background: $color-white;
		    	color: $color-teal;
		    }

		    &.selected {
		    	background: $color-green;
		    	border-color: $color-green;
		    	color: $color-black;
		    }
			}
		}
	}
}

.toolkit-complete {
	display: none;
	padding: 20px;
	margin: 0;
}

.toolkit-download {
	background: $color-lightgrey;
	margin-top: 30px;
	overflow: hidden;

	& > header {
		background: $color-green;
		padding: 20px;

		h3 {
	    font-size: 28px;
    	line-height: 38px;
			color: $color-black;
			margin: 0;
		}
	}

	& > article {
		padding: 20px;
    overflow: hidden;

		& > h3 {
			margin-top: 0;
		}
	}

	.toolkit-downloads {
		border-top: 1px solid $color-black;
		border-bottom: 1px solid $color-black;
	}

	.toolkit-form {
		padding-left: 20px;
		text-align: left;

		@media all and (max-width: $mobile) {
			margin-top: 30px;
			padding-left: 0;
		}

		form {
			& > p {
				margin: 0;
			}

			input {
				padding: 20px;

				&:not([type=submit]) {
					width: 100%;
				}
			}

			.wpcf7-form-control-wrap {
				margin: 0;
				margin-bottom: 10px;
			}

			div.wpcf7-response-output {
		    margin: 0 0 20px 0;
			}
		}
	}

	.selected-toolkits {
		overflow: hidden;

		.toolkit-download-item {
			position: relative;
			display: none;
	    float: left;
	    width: 33.333%;
      height: 270px;
	    padding: 10px;
      text-align: left;

      .remove-toolkit {
  	    position: absolute;
		    top: 0;
		    right: 0;

		    svg {
		    	width: 18px;
		    	height: auto;

		    	path {
		    		@include transition;
		    	}
		    }

		    &:hover {
		    	svg {
		    		path {
		    			fill: #FF4136;
		    		}
		    	}
		    }
      }

	    .image {
		    width: 100%;
		    height: 200px;
		    background-size: cover;
		    background-position: center;
		    border: 1px solid #ccc;
	    }

	    p {
	    	font-size: 13px;
	    	margin: 10px 0;
	    }

	    &.selected {
	    	display: block;
	    }
   	}
	}

	.toolkit-checkboxes {
		display: none;
	}

	#no-toolkit {
		display: none;
		background: #df5c49;
    padding: 15px;
    border: none;
    margin: 10px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    color: #fff;

    p {
    	margin: 0;
    }
	}
}