body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  color: $color-black;
  // padding-top: 157px;

  // @media all and (max-width: $tablet) {
  // 	padding-top: 148px;
  // }

  // @media all and (max-width: $mobile) {
  // 	padding-top: 110px;
  // }
}

* {
  box-sizing: border-box;
}

.container {
	max-width: 1180px;
	padding: 0px 30px;
	margin: 0 auto;

	@media all and (max-width: $mobile) {
		padding: 0px 15px;
	}
}

.col {
	float: left;

	&.col1of2 { width: 50%; }
	&.col1of3 { width: 33.333%; }

	@media all and (max-width: $mobile) {
		float: none;
		width: auto !important;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

.v-align {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
}

input {
	backound: $color-white;
	border: none;
	padding: 10px;
  max-width: 100%;
}

ul,
li {
	list-style: none;
}

.main-content {
	font-size: 14px; 

	input, textarea {
		font-family: "Open Sans", sans-serif;
		width: 100%;
		box-sizing: border-box;
		background: #eee;
		border: none;
		padding: 15px;
		margin: 0;

		&.wpcf7-submit {
	    background: #555555;
	    display: inline-block;
	    width: auto;
	    padding: 15px 80px;
	    font-size: 18px;
	    font-weight: 600;
	    color: #fff;
		}
	}

	ul {     
		padding: 0 0 0 15px;
	  list-style-type: disc;

	  li {
	    list-style-type: disc;
	  }
	}

	ul + p {
		margin-top: 10px;
	}

	ol {
    margin: 20px;
	}

	ol, ol li {
    list-style-type: decimal;
    list-style-position: outside;
	}
}

*[disabled] {
	pointer-events: none;
	cursor: default;
}

span.wpcf7-not-valid-tip {
	font-size: 12px;
}

.wpcf7-form {
	br {
		display: none;
	}
}

.wpcf7-response-output {
	position: relative;
  margin: 0px 0px 20px 0px;

	&:after {
		content: '';
		position: absolute;
		bottom: -10px;
		left: 50%;
		width: 0; 
	  height: 0; 
	  border-left: 10px solid transparent;
	  border-right: 10px solid transparent;
	  border-top: 10px solid $color-black;
	  transform: translateX(-50%);
	}

	&.wpcf7-validation-errors:after {
		border-top-color: $color-red;
	}
}

.wpcf7-form-control-wrap {
	position: relative;
	display: block;
	margin: 0;
	margin-bottom: 15px;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.wpcf7-form-control {
		&.wpcf7-not-valid {
	    border-left: 4px solid $color-red;
		}
	}
}

div.wpcf7-response-output {
  margin: 15px 0;
  padding: 15px;
  border: none;
  background: $color-black;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  color: $color-white;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  background: $color-red;
}

table, tr, td {
  border: 1px solid #676767;
  font-size: 15px;
  line-height: 18px;
}

table td {
	padding: 10px;
}


.frm_style_formidable-style.with_frm_style label.frm_primary_label {
  display: none;
}

.action-section .frm_style_formidable-style.with_frm_style .form-field {
  margin: 0;
  float: left;
  width: 25%;
  clear: none;
  padding: 5px;
  box-sizing: border-box;
}

.action-section .frm_submit {
  width: 25%;
  float: left;
  clear: none;
  padding: 5px;
}

.action-section .signup-template .frm_style_formidable-style.with_frm_style .form-field {
  width: 33.333%;
}

.action-section .signup-template .frm_submit {
	width: 33.333%;
}

@media all and (max-width: $smallTablet) {
	.action-section .frm_style_formidable-style.with_frm_style .form-field,
	.action-section .frm_submit {
		float: none;
		width: 100%;
	}
}

form[name=gm_form] input[type="submit"] {
  background: #3d8099;
  color: #fff;
  padding: 10px 30px !important;
  border-radius: 0px !important;
  border: 0px !important;
  box-shadow: none;
}

form.frm_pro_form {
	position: relative;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_submit button {
  width: 100%;
  margin: 0;
  padding: 4px;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_error_style {
  position: absolute;
  background: red;
  border: none;
  bottom: 105%;
  left: 50%;
  padding: 0 20px;
  text-align: center;
  transform: translateX(-50%);
}

.action-section .frm_style_formidable-style.with_frm_style .frm_error {
	position: relative;
  color: #fff;
  line-height: 18px;
  margin-top: 5px;
  font-size: 10px;
  font-weight: 300;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_error_style p {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  margin: 10px 0;
}

.frm_style_formidable-style.with_frm_style .frm_error_style {
  background: #ce0505;
  border: none;
  border-radius: 0px;
  color: #fff;
  padding: 10px;
}

.frm_style_formidable-style.with_frm_style .frm_error_style p {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
}

.sidebar .frm_style_formidable-style.with_frm_style .frm_message p {
  margin-top: 0px;
  color: #fff;
  font-size: 17px;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_message p {
  color: #fff;
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_message {
  margin: 0;
}

.action-section .frm_forms.frm_style_formidable-style.with_frm_style {
  padding: 20px 0;
}

.exit-intent-form .frm_style_formidable-style.with_frm_style .form-field {
	margin: 0;
}

.exit-intent-form .frm_style_formidable-style.with_frm_style .frm_submit button {
  width: 100%;
  background: #3d8099;
  color: #fff;
  border-radius: 0px;
  border: none;
  padding: 10px;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Open Sans',sans-serif;
  margin-top: 10px;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  margin: 0;
}

.sidebar .frm_style_formidable-style.with_frm_style .form-field {
  margin-bottom: 10px;
}

.toolkit-download .frm_forms.frm_style_formidable-style.with_frm_style {
  padding: 0;
}

.main-footer .frm_forms.frm_style_formidable-style.with_frm_style {
  padding-top: 0px;
}

.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password], 
.frm_style_formidable-style.with_frm_style input[type=email], 
.frm_style_formidable-style.with_frm_style input[type=number], 
.frm_style_formidable-style.with_frm_style input[type=url], 
.frm_style_formidable-style.with_frm_style input[type=tel], 
.frm_style_formidable-style.with_frm_style input[type=phone], 
.frm_style_formidable-style.with_frm_style input[type=search], 
.frm_style_formidable-style.with_frm_style select, 
.frm_style_formidable-style.with_frm_style textarea {
  border-radius: 0px;
  padding: 19.5px 10px;
}

.frm_style_formidable-style.with_frm_style .frm_form_fields>fieldset {
  padding: 0;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  background: #3d8099;
  color: #fff;
  padding: 10px 30px !important;
  border-radius: 0px !important;
  border: 0px !important;
  box-shadow: none;
}

.frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #202020;
	color: #fff;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_submit button {
	background: #202020;
}

.action-section .frm_style_formidable-style.with_frm_style .frm_submit button:hover {
	background: #a2c03b;
}

.exit-intent-form .frm_submit,
.exit-intent-form .frm_button_submit  {
  margin-bottom: 30px;
}