.bg-green 	{ background-color: $color-green; }
.bg-teal 		{ background-color: $color-teal; }
.bg-white 	{ background-color: $color-white; }
.bg-black 	{ background-color: $color-black; }
.bg-grey 		{ background-color: $color-lightgrey; }

.bg-white,
.bg-grey {
	h1, h2, h3, h4, h5, h6, p, a:not(.button) {
		color: $color-black;
	}
}

.bg-teal,
.bg-green,
.bg-black {
	h1, h2, h3, h4, h5, h6, p, a:not(.button) {
		color: $color-white;
	}
}