@mixin transition {
  transition: all 420ms cubic-bezier(0.215, 0.61, 0.355, 1);
}


@mixin current_menu {
	position: relative;

	a {
		font-weight: 600;
	}

	&:after {
    content: '';
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $color-green;

    @media all and (max-width: $mobile) {
      display: none;
    }
	}
}