body {
	font-family: 'Open Sans', sans-serif;
	color: $color-darkgrey;
	line-height: 1.4em;
}

a {
	color: $color-teal;
}

p, h1, h2, h3, h4, h5, h6 {
	margin: 20px 0;
	line-height: 1.4em;
}

p {
	font-size: 14px;
	line-height: 22px;
}

h1 {
	font-size: 48px;
	line-height: 54px;
}

h2 {
	font-size: 35px;
	line-height: 43px;
}

h3 {
	font-size: 24px;
	line-height: 32px;
}

h4 {
	font-size: 18px;
	line-height: 24px;
}

small {
	font-size: 12px;
	line-height: 14px;
}

blockquote {
	border-top: 4px solid $color-teal;
	border-bottom: 4px solid $color-teal;
	padding: 20px;
  margin: 30px 0;
	font-size: 22px;
	line-height: 30px;
	color: $color-darkgrey;

	p {
		font-size: 22px;
		line-height: 30px;
		color: $color-darkgrey;

		&:first-child { margin-top: 0; }
		&:last-child 	{ margin-bottom: 0; }
	}
}

@media all and (max-width: $mobile) {

	h1 {
		font-size: 30px;
    line-height: 38px;
  }

}