$color-green: #a2c03b;
$color-teal: #3d8099;
$color-lightgrey: #f6f6f6;
$color-darkgrey: #555;
$color-white: #fff;
$color-black: #333;
$color-red: #df5c49;


// Sizes
$mobile: 600px;
$smallTablet: 782px;
$tablet: 1050px;
$container: 1240px;