.wp-admin .acf-flexible-content .layout .acf-fc-layout-order {
  font-size: 12px;
  color: #666;
  background: #0085ba;
  color: #fff;
  margin-right: 10px;

  position: absolute;
  top: 50%;
  left: -10px;
  line-height: 100px;
  text-indent: 10px;
  transform: translateY(-50%);
  font-size: 22px;
  width: 70px;
  height: 100px;
  border-radius: 50%;
}

.wp-admin .acf-flexible-content .layout .acf-fc-layout-handle {
  line-height: 1.2em;
  background: #0073aa;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  padding: 15px;
  position: relative;
  overflow: hidden;
  padding-left: 75px;
}

.wp-admin .acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapse {
  color: #fff;
  background: #0085ba;
}

.wp-admin .acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapse:hover {
  color: #0085ba;
  background: #fff;
}

.wp-admin .acf-flexible-content .layout .acf-fc-layout-controlls {
  position: absolute;
  top: 14px;
  right: 15px;
}

.wp-admin .acf-flexible-content .layout {
  margin: 5px 0 0;
}