.button {
  position: relative;
  display: inline-block;
  padding: 15px 45px;
  background: $color-green;
  color: $color-white;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  @include transition;

  & > svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    width: 18px;
    opacity: 0;
    @include transition;
    transition-delay: 0s;

    path {
      fill: $color-white;
    }
  }

  &:hover {
    background: $color-black;
    color: $color-white;
    padding-right: 60px;

    & > svg {
      opacity: 1;
      right: 15px;
      transition-delay: 0.2s;
    }
  }

  &[type=submit] {
    padding: 15px 45px;
  }
}

.bg-green,
.bg-teal,
.bg-black {
	.button {
		background: $color-white;
		color: $color-black;

    &:hover {
      background: $color-black;
      color: $color-white;
    }
	}
}