.download-link {
	background: $color-teal;
	padding: 15px;
	overflow: hidden;

	& > div {
		float: left;
		padding: 15px;
	}

	.image {
		width: 30%;

		@media all and (max-width: $mobile) {
	    float: none;
	    width: 100%;
	  }

		img {
			border: 2px solid $color-white;
		}
	}

	.content {
		width: 70%;

		@media all and (max-width: $mobile) {
			width: 100%;
			float: none;

			.button {
		    padding: 15px 20px;
		    text-align: center;
			}
		}

		& > * {
			color: $color-white;
			margin: 10px 0;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}