.main-footer {
	background: $color-lightgrey;
	padding: 30px 0;
  border-top: 5px solid $color-green;
  clear: both;
	overflow: hidden;

	.main-logo {
		margin: 0;

		@media all and (max-width: $mobile) {
			display: inline-block;
  		float: none;	
		}
	}

	.footer-bottom {
    display: block;
    clear: both;
    text-align: center;
    padding-top: 20px;

    p {
    	font-size: 12px;
    }
	}
	
	ul {
		li {
			margin: 5px 0;

			&.current-menu-item,
			&.current-page-ancestor {
				font-weight: 800;
			}
		}
	}

	.col {
		display: block;
		float: left;
		width: 25%;
		padding: 20px;

		@media all and (max-width: $tablet) {
			width: 50%;
		}

		@media all and (max-width: $mobile) {
			width: 100%;
			float: none;
	    clear: both;
	    padding: 10px 0;
	    text-align: center;
		}

		&:first-child {
			padding-left: 0px;

			@media all and (max-width: $tablet) {
				padding: 30px;
			}

			@media all and (max-width: $mobile) {
		    padding: 0 0 20px 10px;
		    overflow: overlay;
		  }
		}

		&:last-child {
			padding-right: 0px;
		}

		h2 {
			font-size: 24px;
			line-height: 32px;
		}

		input[type=submit] {
			background: $color-green;
			color: $color-white;
			padding: 10px 30px;
		}

		*:first-child {
			margin-top: 0px;
		}

		.custom-html-widget {
			overflow: hidden;

			.wpcf7 {
				p {
					margin: 0;
				}

				br {
					display: none;
				}

				input {
					max-width: 100%;
				}

				
			}
		}
	}
}