.main-header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	background: $color-green;
	box-shadow: 0 0 7px rgba(0,0,0,.1);
	z-index: 300;

	.header-content {
		height: 120px;
	}

	.main-search,
	.main-nav {
		float: right;
		clear: right;
		margin-top: 20px;
	}

	.main-search {
		label {
			display: none;
		}

		input {
			&[type=text] {
				display: block;
				float: left;
			}

			&[type=submit] {
		    background: #333 url(images/search-icon-white.svg) no-repeat;
		    background-position: center;
        background-size: 60%;
		    width: 36px;
		    cursor: pointer;
			}
		}
	}

	.main-nav {

		.close-button {
			display: none;
	    float: right;
	    margin: 20px;

	    svg {
	    	path {
	    		fill: $color-black;
	    		@include transition;
	    	}
	    }

	    &:hover {
	    	svg {
	    		path {
	    			fill: $color-white;
	    		}
	    	}
	    }
		}

		li {
			display: inline-block;
			margin-left: 15px;

			a {
				display:block;
				color: $color-black;
				@include transition;

				&:hover {
					color: $color-white;
				}
			}

			&:first-child {
				margin-left: 0;
			}

			&.current-menu-item,
			&.current-page-ancestor {
				@include current_menu;
			}
		}
	}

	@media all and (max-width: $tablet) {
		    
		.main-nav {
	    display: block;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    min-height: 100vh;
	    background: $color-green;
	    margin: 0;
	    opacity: 0;
	    pointer-events: none;
	    @include transition;
	    z-index: 999;

	    .close-button { 
	    	display: block;
	    }

	  	.menu {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    text-align: center;

		    li {
		    	display: block;
		    	margin: 10px 0;
		    }
	  	} 
		}

		.main-search {
			clear: none;
	    margin-top: 35px;
		}

		.main-logo {
			width: 180px;
		}

		.header-content {
			padding-right: 10px;
	    height: 100px;
		}
	}

	@media all and (max-width: $mobile) {
		.main-search {
			display: none;
		}

		.header-content {
	    height: 72px;
	    overflow: hidden;
		}

		.main-logo {
	    margin: 15px 0;
	    width: 150px;
		}
	}
}

// .admin-bar {
// 	.main-header {
// 		top: 32px;

// 		@media all and (max-width: $smallTablet) {
// 			top: 46px;
// 		}
// 	}
// }

// #wpadminbar {
// 	@media all and (max-width: $mobile) {
// 		position: fixed !important;
// 	}
// }

// .admin-bar {
// 	@media all and (max-width: $tablet) {
// 		.main-header .main-nav {
// 	    padding-top: 32px;
// 		}
// 	}

// 	@media all and (max-width: $mobile) {
// 		.main-header .main-nav {
// 			padding-top: 46px;
// 		}
// 	}
// }

.nav-open {
	.main-header {
		.main-nav {
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.single-stories .main-header .main-nav li.menu-item-4437,
.single-event .main-header .main-nav li.menu-item-4534 {
	@include current_menu;
}