.lightbox {
	display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: 555;

  .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 660px;
    transform: translate(-50%,-50%);
    background: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
    z-index: 556;

    header.popup-header {
	    background: #a2c03b;
	    padding: 30px;
	    text-align: center;

	    svg {
		    width: 44px;
		    height: auto;
			}

			h2 {
		    margin: 0;
		    color: #020202;
		    font-weight: 600;
		    font-size: 26px;
			}
		}

		a.close-button {
	    position: absolute;
	    top: 10px;
	    right: 10px;

	    svg {
		    width: 15px;
		    height: auto;
			}
		}

		.content {
	    padding: 0px 80px;
	    text-align: center;
	    max-height: 63vh;
	    overflow-y: scroll;
		}

		input {
	    width: 100%;
	    box-sizing: border-box;
	    background: rgba(0,0,0,0.07);
	    font-family: "Open sans", sans-serif;
	    font-size: 16px;

			&[type=submit] {
		    background: #000;
		    color: #fff;
			}
		}

		.visible-only-when-sent {
			display: none;
			text-align: center;
	    padding: 20px 50px 50px;
		}
  }
}

.frm_style_formidable-style.with_frm_style .frm_message {
  background: none;
  border: none;
  padding: 0;
  overflow: hidden;
  color: inherit;
}

.frm_style_formidable-style.with_frm_style .frm_message p {
  color: inherit;
}

.frm_forms.frm_style_formidable-style.with_frm_style {
  padding: 20px 0 0 0;
}

.frm_style_formidable-style.with_frm_style .frm_message h3:first-of-type {
  margin-top: 0;
}
