.main-content {
	float: left;
	width: 70%;
	padding-right: 30px;

	& > .section {
    margin: 20px 0;

		& > .container {
			padding: 0px;
		}
	}

	.custom-section {
		padding: 20px;
	}

	.content-section {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.tiles-section {
		padding: 0;
		.container {
			overflow: visible;
		}
	}

	.action-section {
    padding: 30px;

    .stories-template {
	    grid-template-columns: 1fr 280px;
	    grid-gap: 10px 30px;

	    .section-title {
  	    grid-column: span 2;
	    }
    }

    .signup-template {
    	padding: 0;

    	.section-title {
    		padding: 0;
    		position: relative;
    		top: -5px;
    		transform: none;
    		width: 100%;
    		margin-bottom: 10px;
    	}

    	.content {
    		padding: 0;

    		input[type=submit] {
			    padding: 15px !important;
    		}
    	}
    }
	}

	iframe {
    width: 100%;
	}

	& > *:first-child {
		margin-top: 0;
		padding-top: 0;

		h2:first-of-type {
	    margin-top: 0;
		}
	}

	h2 + p,
	h3 + p,
	h4 + p {
    margin-top: -15px;
    margin-bottom: 10px;
	}

	p + p {
    margin: 10px 0;
	}

	&:not(.tiles) p:first-of-type {
    font-size: 18px;
    line-height: 26px;
	}

	@media all and (max-width: $smallTablet) {
		float: none;
		width: auto;
		padding: 0;
	}
}

form[name=gm_form] input {
  margin-bottom: 15px;

	&.error {
    border: 1px solid #d71313;
    background: #ffefef;
  }
}

form[name=gm_form] input[type=submit] {
  margin-top: 20px;
  display: inline-block;
  width: auto;
  background: #3d8099;
  font-size: 14px;
  font-weight: 400;

  &:hover {
  	background: $color-darkgrey;
  }
}