.notification-bar {
	display: none;
  overflow: hidden;
  padding: 15px 0;
  background: $color-black;

  svg {
    float: left;
    margin-right: 10px;
    margin-top: 5px;

    path {
	    fill: $color-white;
    }
  }

  p {
  	margin: 0;
    display: inline-block;
    line-height: 24px;
    font-size: 16px;
    color: $color-white;
    margin-top: 5px;

    a {
    	color: $color-green;
    	font-weight: 600;

    	&:hover {
    		text-decoration: underline;
    	}
    }
  }

  .button {
    margin: 0;
    float: right;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 600;
    background: $color-lightgrey;
    color: $color-black;
    @include transition;

    &:hover {
    	background: $color-green;
    	color: $color-white;
    }
  }
}