.site-picker {
	display: inline-block;

	a {
    display: inline-block !important;
    position: relative;
    top: 6px;
    width: 33px;
    height: 24px;
    margin-left: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;

		&.active {
	    color: #333;
	    opacity: 1;
	    font-weight: 700;
		}
	}
}