.sidebar {
	display: block;
	float: left;
	width: 30%;
	text-align: left;

	.widgettitle {
	  font-size: 24px;
	}

	.more-button {
    display: block;
    padding: 10px 0;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
	}

	.pages {
		.child {
	    border-bottom: 1px solid $color-darkgrey;

	    &:first-child {
	    	border-top: 1px solid $color-darkgrey;
	    }

	    a {
		    padding: 15px 0;
		    display: block;
			}
			
			h3, p {
    		margin: 0;
    		color: $color-darkgrey;
    	}
    }
  }

	.widget {
		&.subpage-widget {
	    background: #dadada;
	    padding: 20px;

	    h2.widgettitle {
	    	margin-top: 0;
	    	margin-bottom: 10px;
	    }

	   	li {
		    margin: 10px 0;
			}
		}
		&.widget_text.widget_custom_html:first-child,
		&#text-2:first-child {
	    background: $color-green;
	    padding: 20px;
	    margin-bottom: 20px;

	    form > p {
	    	margin-bottom: 0;
	    }

	    h2.widgettitle {
		    font-size: 30px;
		    line-height: 34px;
		    color: #fff;
		    margin: 0;
			}

			input {
		    font-size: 14px;
		    color: #999;
		    padding: 16px;
		    width: 100%;
		    margin: 10px 0px 0px 0;

		    &.error {
		    	border: 1px solid #d71313;
          background: #ffefef;
		    }

		    &[type=submit] {
		    	background: $color-teal;
		    	color: $color-white;
    	    cursor: pointer;
    	    padding: 16px 30px;
    	    @include transition;

    	    &:hover {
    	    	background: $color-black;
    	    }
		    }
			}
	  }

	}

	.business-insights {
		margin: 30px 0;

		& > h3 {
			margin-top: 0;
		}

		ul {
	  	border-bottom: 1px solid $color-black;
			
			li {
			  border-top: 1px solid $color-black;
			  padding: 0;
			  margin: 0;
			  clear: both;

			 	a {
				  display: block;
				  padding: 15px 0;
				  font-weight: 600;
				  color: $color-black;
				  overflow: hidden;

				  .title {
				  	display: block;
				  	padding-left: 145px;
				  }

				  p {
		  	    font-size: 13px;
				    font-weight: 400;
				    line-height: 18px;
				    margin: 0;
				  }
				}

				.thumbnail {
					position: relative;
				  display: block;
				  float: left;
				  width: 130px;
				  height: 80px;
				  background-size: cover;
				  background-position: center;
				  margin-right: 15px;

				  &:after {
				  	content: '';
				  	position: absolute;
				  	top: 0;
				  	left: 0;
				  	width: 100%;
				  	height: 100%;
				  	background: rgba(0,0,0,0.5);
				  	z-index: 2;
				  }

				  .play-button {
		  	    position: absolute;
				    top: 50%;
				    left: 50%;
				    transform: translate(-50%,-50%);
				    z-index: 3;

				    svg {
		    	    width: 46px;
					    height: 46px;
				    	path {
				    		fill: rgba(255,255,255,.5);
				    	}
				    }
				  }
				}
			}
		}
	}

	.client-stories {
	  margin: 30px 0;
	  background: $color-lightgrey;
	
		h3 {
		  background: $color-darkgrey;
		  color: $color-white;
		  padding: 15px 20px;
		  margin: 0;
		}

		.more-button {
			background: $color-darkgrey;
			padding: 10px;
			color: $color-white;
		}

		ul {
		  padding: 20px !important;

			li {
			  position: relative;
			  margin-bottom: 30px;
			
				&:after {
				  content: '';
				  position: absolute;
				  bottom: -15px;
				  width: 100%;
				  height: 1px;
				  background: $color-darkgrey;
				}

				&:last-child {
				  margin-bottom: 0px;
				
					&:after {
					  content: none;
					}
				}

				a {
				  overflow: hidden;
				}

				.image {
				  position: absolute;
				  display: block;
				  top: 0;
				  left: 0;
				  width: 100px;
				  height: 100%;
				  background-size: cover;
				  background-position: center;
				}

				.content {
				  display: block;
				  padding-left: 115px;
				}

				h4 {
					color: $color-black;
				  font-size: 18px;
				  margin: 0 0 5px 0;
				}

				p {
				  display: block;
				  font-size: 13px;
				  line-height: 16px;
				  margin: 0;
				}
			}
		}
	}

	.services {
		margin: 30px 0;
		background: $color-lightgrey;

		h3 {
		  background: $color-teal;
		  color: $color-white;
		  padding: 15px 20px;
		  margin: 0;
		}

		.more-button {
			background: $color-teal;
			padding: 10px;
			color: $color-white;
		}

		ul {
			padding: 10px 0;
			li {
				a {
					position: relative;
					display: block;
					overflow: hidden;

					span {
						display: block;
						float: left;

						&.icon {
			        width: 40px;
					    height: 40px;
					    position: absolute;
					    top: 50%;
					    left: 20px;
					    transform: translateY(-50%);

							svg {
								width: 100%;
								height: auto;

								path {
									fill: $color-teal;
								}
							}
						}

						&.content {
					    padding-left: 80px;
					    padding-right: 20px;

					    h4 {
					    	margin: 15px 0;
					    }
						}
					}
				}
			}
		}
	}

	& > *:first-child {
		margin-top: 0;
	}

	@media all and (max-width: $smallTablet) {
		float: none;
		width: auto;
		padding: 0;
    border-top: 2px solid #3d8099;
    padding-top: 15px;
    margin-top: 30px;
	}
}

.blog .sidebar .business-insights {
  display: none;
}