.top-bar {
	background: $color-teal;
	overflow: hidden;

	.col {
		float: left;
		width: 35%;

		@media all and (max-width: $tablet) {
			display: none;
		}

		&:last-child {
			width: 65%;
			text-align: right;

			@media all and (max-width: $tablet) {
				display: block;
				width: 100%;
			}
		}
	}

	p, a {
		display: inline-block;
		padding: 10px 0;
		margin: 0;
		font-size: 13px;
		line-height: 18px;
		color: $color-white;
		white-space: nowrap;
	}

	a {
    position: relative;
    padding: 10px 10px 10px 25px;
    margin-left: 10px;

    @media all and (max-width: $mobile) {
    	display: none;
    }

		svg {
			position: absolute;
	    height: 18px;
	    width: auto;
	    left: 0;
	    top: 50%;
	    transform: translateY(-50%);
			
			path {
				fill: $color-white;
			}
		}
	}

	@media all and (max-width: $mobile) {
		padding-bottom: 10px;
	}
}