.section.column-section {
	padding: 15px 0;
	overflow: hidden;

	&:nth-child(even) {
		background: #f4f4f4;
	}

	.col {
		float: left;
		width: 50%;
		padding-right: 50px;

		&:nth-child(2){
			padding-left: 30px;
		}

		@media all and (max-width: $mobile) {
			float: none;
			width: 100%;
			padding: 0px !important;
		}
	}
}